/* index.html */

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



#nav {
    padding-bottom: 10px;
}


.nav-item {
    padding: 3%;
}

.nav-link {
    color: #b6bcc8;
    font-family: 'Kumbh Sans', sans-serif;
}

.nav-link-women {
    text-decoration: none;
    border-bottom: 3px solid orange;
    color: black;
}

.nav-item-right{
   float:right;
   padding-right: 20px;
   align-content: center;
}


#logo {
    padding-bottom: 5px;
    padding-left: 5px;
    width: 145px;
}

#avatar {
    width:2.5rem;
    float: right;
}

#product {
    width:375px;
    height: 340px;
}

#info { 
    height: 800px;
    flex: 50%;
    padding: 20px;
}

#company {
    font-size:12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ff7d1a;
}

#heading {
    font-weight: bold;
    letter-spacing: 1.5px;
}

#para {
    color: #68707d;
    font-size: 15px;
}

#price {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#discount {
    font-weight: bold;
    float: right;
        padding: 5px 10px 5px 10px;        
    border-radius: 5px;
    color: #ff7d1a;
    background-color: #ffede0;
}


/*
#avatar {
    width:50px;
    padding-left: 10%;
}

#cart {
    justify-content: center;
    margin-top: 60%;
}

#content {
    height: 800px;
    flex:50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#product {
    width: 375px;
    margin-left: 200px;
    margin-top: 150px;
    border-radius: 15px;

}

#info { 
    height: 800px;
    flex: 50%;
    background-color: pink;
    padding: 20px;
}

