/* index.html */

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;

}
/*

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

*/


#nav {
    padding-bottom: 10px;
}


.nav-item {
    padding: 3%;
}

.nav-link {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}

/*
.nav-link-women {
    text-decoration: none;
    border-bottom: 3px solid orange;
    color: black;
}
*/

.nav-item-right{
   float:right;
   padding-right: 20px;
   align-content: center;
}


#logo {
    padding-bottom: 5px;
    padding-left: 5px;
    width: 145px;
}

#avatar {
    width:1.9rem;
    padding-left:10%;
}

#content {
    flex: 50%;
}

#product {
    width:100%;
    height: 300px;
    object-fit: cover;
}

#info { 
    flex: 50%;
    padding: 20px;
}

#company {
    font-size:12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ff7d1a;
}

#heading {
    font-weight: bold;
    letter-spacing: 1.5px;
}

#para {
    color: #68707d;
    font-size: 15px;
}

.price-container {
    display: flex;
    justify-content: space-between;

}

.price-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

#price {
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#discount {
    font-weight: bold;       
    border-radius: 5px;
    color: #ff7d1a;
    background-color: #ffede0;
}

#scored {
    color: #b6bcc8;
    
}

.quantity {
background-color: #f7f8fd;
border-radius: 8px;
align-content: center;

}

.add{
    margin-top: 10%;
}


.addtocart{
    color: white;
  padding:15px;
  font-size: 15px;
  border-radius:10px;
  border:none;
  background:#ff7d1a;
  cursor:pointer;
  width:340px;
 }

.cartadd {
    margin-right: 10px;
    width:17px;
}

/*

#content {
    height: 800px;
    flex:50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#product {
    width: 375px;
    margin-left: 200px;
    margin-top: 150px;
    border-radius: 15px;

}

#info { 
    height: 800px;
    flex: 50%;
    background-color: pink;
    padding: 20px;
}

