/* index.html */

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;

}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



#nav {
    padding-bottom: 10px;
}


.nav-item {
    padding: 3%;
}

.nav-link {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}


.nav-item-right{
   float:right;
   padding-right: 20px;
   align-content: center;
}


#logo {
    padding-bottom: 5px;
    padding-left: 5px;
    width: 145px;
}

#cartbutton {
    border:none;
    background-color: transparent;
    cursor: pointer;

}

#avatar {
    width:1.9rem;
    padding-left:10%;
}

#content {
    flex: 50%;
    position: static;
    z-index: 1;
}

#product {
    
    width:100%;
    height: 300px;
    object-fit: cover;
}

#info { 
    flex: 50%;
    padding: 20px;
}

#company {
    font-size:12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ff7d1a;
}

#heading {
    font-weight: bold;
    letter-spacing: 1.5px;
}

#para {
    color: #68707d;
    font-size: 15px;
}

.price-container {
    display: flex;
    justify-content: space-between;

}

.price-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

#price {
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1.5px;
}


#discount {
    width: 45px;
    font-weight: bold;       
    border-radius: 5px;
    color: #ff7d1a;
    background-color: #ffede0;
    text-align: center;
}



.scored {
    color: #b6bcc8;
    text-align: center;
    margin-top: 8px;
    font-weight: 700;
    margin-right: 20px;
    
}

#myform {
    text-align: center;
    padding:10px;
    border-radius: 10px;
    background-color: #f7f8fd;
    height: 50px;
}

input[type="text"] { 
    border:none;
}

input[type="button"] {
    border: none;
    color:#ff7d1a;
    background-color:#f7f8fd;
}

.qty {
    text-decoration: none;
    background-color:#f7f8fd;
    text-align: center;
}

.addtocart{
  margin-top: 10%;
  color: #ffede0;
  padding:15px;
  font-size: 16px;
  font-weight: 700;
  border-radius:10px;
  border:none;
  background:#ff7d1a;
  cursor:pointer;
  width:340px;
 }


svg {
    margin-right: 10px;
}

.cart-empty {
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    position: static;
    z-index: 2;
}

.pCart {
    color: black;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #b6bcc8;
    padding-top: 5px;
    padding-left: 5px;
}

.yourCart {
    height: 150px;
    padding: 60px;
    color: #68707d;
    font-weight: 700;
    font-size: 15px;
    margin-left: 40px;
}

.hide {
    display: none;
}


